<div class="product__container">
	<div class="product__image">
		<img src="http://placehold.it/350x150" alt="">
	</div>
	<h2 class="product__name truncate">{{this.name}}</h2>
	<h3 class="product__price">{{this.price}} kr</h3>
</div>