<div class="product__container">
	<div class="product__image">
		<img src="http://placehold.it/350x150" alt="">
	</div>
	<div class="product__name">{{this.name}}</div>
	<div class="product__price">{{this.price}} kr</div>
</div>