<h2>Products</h2>

{{#each row in rows}}
	<div class="row product__row">
	{{#each product in row}}
		<div class="col-md-4 col-xs-6">
			<div {{action "goToProduct" product}}>
			{{product-list-item name=product.name price=product.price}}
			</div>
		</div>
	{{/each}}
	</div>
{{/each}}


