
<div class="container">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <h1 class="navbar__header">
	      	<a class="navbar-brand" href="#">Webshop</a>
	      </h1>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">

	        <li class="shoppingcart__container">
	        	<a href="#">
	        		Shopping Cart
	        		{{#if shoppingCart.products.length}}
						(<strong>{{shoppingCart.products.length}}</strong> items)
	        		{{/if}}
	        		<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
	        	</a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
</div>

<div class="container">
	{{outlet}}
</div>
